.gridder{margin:0px;padding:0px;list-style-type:none}
.gridder-list,
.gridder-list-link{display:inline-block;vertical-align:top}
.gridder-show{
	display:block;
	float:left;
	width:100%;
	position:relative;
	background: #000;
	padding:20px;
	margin-bottom:1%;
}

a {
	color: #fff;
}

a:hover {
	color: #eee;
}

.gridder-show.loading{}
.gridder-content{display:none}.gridder-list,
							  .gridder-list-link{width:49.5%}

.gridder-content{display:none}.gridder-list{width:49.5%}
.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}
.gridder-list:nth-of-type(2n){margin-right:0;margin-bottom:0}
.gridder-navigation .gridder-nav.disabled{opacity:.5}
.gridder-list:nth-child(3n) {
	margin-right: 0 !important;
}

.gridder-list,
.gridder-list-link{cursor:pointer}

.gridder-list:hover,
.gridder-list-link:hover{opacity:0.8}

.hasSelectedItem .gridder-list,
.hasSelectedItem .gridder-list-link{opacity:.5}

.hasSelectedItem .gridder-list.selectedItem,
.hasSelectedItem .gridder-list-link.selectedItem{opacity:1}@media screen and (min-width: 700px){
	.gridder-list,
	.gridder-list-link{width:32.6666666667%}
	.gridder-list:nth-child(n),
	.gridder-list-link:nth-child(n){margin-bottom:1%;margin-right:1%}
	.gridder-list:nth-of-type(6n),
	.gridder-list-link:nth-of-type(6n){margin-right:0;margin-bottom:0}
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: #080808;
	color: #fff;
}
.wrapper {
	width: 98%;
	max-width: 2100px;
	margin: 0 auto;
}

.wrapper.headline {
	margin: 15px auto 20px auto;
    padding: 20px 0;
}

.wrapper.headline.left {
	float: left;
}

.wrapper.headline.right {
	float: right;
	text-align: right;
}

.wrapper h1 {
	font-weight: 900;
}

.wrapper h3 {
	font-weight: 400;
	margin: 0;
	font-size: 1.3em;
}

/* Navigation */
.gridder-navigation {
	margin-bottom: 10px;
}

a.gridder-nav,
a.gridder-close {
	text-decoration: none;
	font-size: 4em;
	position: absolute;
	z-index: 99;
	background-color: #000;
}
a.gridder-close {
	width: 55px;
  height: 55px;
  top: 20px;
  right: 20px;
	z-index: 999;
}

a.gridder-close span {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjQsMjAuMkwxNS43LDEybDguMi04LjNMMjAuMiwwTDEyLDguM0wzLjcsMC4xTDAsMy44TDguMywxMmwtOC4yLDguM0wzLjgsMjRsOC4yLTguM2w4LjMsOC4yTDI0LDIwLjJ6Ii8+PC9zdmc+) center no-repeat;
	background-size: 25px 25px;
}

.gridder-navigation .gridder-nav {
	height: 77px;
	padding: 0;
	position: absolute;
	width: 50px;
	z-index: 1;
	color: #000 !important;
	cursor: pointer !important;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin: 0 5px;
	outline: 0;
	text-align: center;
	text-decoration: none !important;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: normal;
	word-wrap: normal;
	top: 48%;
	margin-top: -40px;
	overflow: hidden;
}

.gridder-navigation .gridder-nav.prev {
	left:-6px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.gridder-navigation .gridder-nav.next {
	right: -6px;
}

.gridder-navigation .gridder-nav span,
a.gridder-close span {
	display: block;
	width: 100%;
	height: 100%;
}

.gridder-navigation .gridder-nav span {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNNSwzbDMuMS0zTDIwLDEyTDguMSwyNEw1LDIxbDktOUw1LDN6Ii8+PC9zdmc+) center no-repeat;
}

/*a.gridder-nav {
	margin-right: 20px;
	top:0;
	height: 100%;
}

a.gridder-close:before {
	content: "\000D7";
	margin-right: 10px;
}

a.gridder-nav.next:after {
	content: "\02192";
	margin-left: 10px;
}

a.gridder-nav.prev:before {
	content: "\02190";
	margin-right: 10px;
}*/

.gridder-list,
.gridder-list-link {
	cursor:pointer
}
.hasSelectedItem .gridder-list,
.hasSelectedItem .gridder-list-link {
	opacity:.2
}
.hasSelectedItem .gridder-list.selectedItem,
.hasSelectedItem .gridder-list-link.selectedItem {
	opacity:1
}

.hasSelectedItem .gridder-list.selectedItem .content,
.hasSelectedItem .gridder-list-link.selectedItem .content {
	display: none;
}

.gridder-show h2 {
	font-weight: 900;
	margin-top: 20px;
}

.gridder-show h2 img {
	width: 30px;
	margin-top: -15px;
}

.gridder-show p {
	margin-left: 3px;
}

.col.videofullscreen {
	width: 100%;
	position: relative;
	display: block;
	flex-basis: auto;
}

.col.videofullscreen video {
	object-fit: fill;
}

object,
iframe {
	width: 100%;
	height: 900px;
	display: block;
	position: relative;
	box-sizing: border-box;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}
