body{padding-bottom:1000px}.gridder{margin:0px;padding:0px;list-style-type:none}.gridder-list{display:inline-block;vertical-align:top}.gridder-show{display:block;float:left;width:100%;position:relative}.gridder-show.loading{}.gridder-content{display:none}.gridder-list{width:49.5%}.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}.gridder-list:nth-of-type(2n){margin-right:0;margin-bottom:0}.gridder-show{padding:20px;background:#EEE;margin-bottom:1%}.gridder-navigation .gridder-nav.disabled{opacity:.5}.gridder-list{cursor:pointer}.gridder-list:hover{opacity:0.8}.hasSelectedItem .gridder-list{opacity:.5}.hasSelectedItem .gridder-list.selectedItem{opacity:1}@media screen and (min-width: 700px){.gridder-list{width:32.299999999%}.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}.gridder-list:nth-of-type(6n){margin-right:0;margin-bottom:0}}
/*# sourceMappingURL=demo.css.map */

.videoplayer{
  width: 100%;
}

.col{
  width: 100%;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}